In [1]:
# 1.  Print numbers from 1 to 5 using a while loop
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [8]:
# 2. Calculate the sum of numbers from 1 to 10 uing a while loop.
i=1
sum=0
while i<=10:
    sum=sum+i 
    i=i+1
    
print("The sum of 1 to 10 is : ",sum)

The sum of 1 to 10 is :  55

In [11]:
# 3. Calculate the factorial of a number using a for loop.
n=5
fact=1
for i in range(1,n+1):
    fact=fact*i
print("The factorial of 5 is : ",fact)

The factorial of 5 is :  120

In [17]:
# 4.  Count the number of vowels in a string using a for loop.
name="sanidul islam khan"
count=0
for l in name:
    if l=="a" or l=="e" or l=="i" or l=="o" or l=="u" or l=="A" or l=="E" or l=="I" or l=="O" or l=="U":
        count=count+1
print("Count of vowel is: ",count)

Count of vowel is:  6

In [18]:
# 5.  Print a pattern using nested loops
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [19]:
# 6. Generate a multiplication table using nested loops.
for i in range(1,6):
    for j in range(1,6):
        multiply=i*j
        print(f"{i}*{j}={multiply}",end="\t")
    print()

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25